<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-{{$id}}" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Employee manager</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-{{$id}}">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': $ctrl.activeTab === 1}">
                    <a href="javascript:void(0)" class="tab color-white" ng-click="$ctrl.setActiveTab(1)">People</a>
                </li>
                <li ng-class="{'active': $ctrl.activeTab === 2}">
                    <a href="javascript:void(0)" class="tab color-white" ng-click="$ctrl.setActiveTab(2)">Visuals</a>
                </li>
            </ul>

            <div class="navbar-form navbar-right" ng-show="$ctrl.activeTab == 1">
                <div class="form-group">
                    <em-search on-search="$ctrl.searchHandler"></em-search>
                </div>
            </div>
        </div>
    </div>
</nav>