<div class="row">
    <div id="{{$ctrl.modalId}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <form class="modal-form panel-danger" name="removeEmployeeModalForm">
                    <div class="modal-header panel-heading">
                        <h4><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i> Delete employee</h4>
                    </div>
                    
                    <div class="modal-body">
                        <h5>Are you sure want to delete employee <b>{{$ctrl.getEmployeeToDelete().name}}</b>?</h5>
                        <h5>All data will be lost.</h5>
                    </div>
                    
                    <div class="modal-footer">
                        <em-button type="submit" btn-class="btn-danger" label="Submit" ng-click="$ctrl.deleteEmployee()"></em-button>
                        <em-button type="button" btn-class="btn-default" label="Cancel" data-dismiss="modal"></em-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>