<section>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="panel-heading form-group">Visuals tab</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <em-pie-chart title="by Skill" key="skill" chart-data="$ctrl.employeesList"></em-pie-chart>
        </div>
        <div class="col-md-6 col-lg-4">
            <em-pie-chart title="by Level" key="level" chart-data="$ctrl.employeesList"></em-pie-chart>
        </div>
        <div class="col-md-6 col-lg-4">
            <em-pie-chart title="by Age" key="ageRange" chart-data="$ctrl.employeesListByAge"></em-pie-chart>
        </div>
    </div>
</section>